*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 14px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #21566E;
}

/*Começo do Header*/
header{
    display: flex;
    justify-content: center; 
    
}
header .container{
    width: 100%;
    max-width: 1220px;
    height: 100px;
    margin: auto;
}

.topoleft{
    height: 100px;
    float: left;
    line-height: 120px;
    align-items: center;
}
#logo{
    width: 250px;
}
.menumobile{
    display: none;
}
.navmenu{
    width: 45%;
    height: 100px;
    float: right;
}
.navmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.navmenu li{
    height: 140px;
    line-height: 150px;
    margin-left: 20px;
    margin-right: 13px;
}
nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}
#entrar{
    width: 95px;
    padding: 5px;
    border-radius: 7px;
}
#cadastrar{
    width: 110px;
    padding: 5px;
    color: #ffffff;
    border-radius: 7px;
}
nav a:hover{
    text-decoration: underline #E7B72E;
    color: #ffffff;
}
ul li.active a{
    text-decoration: underline #E7B72E;
    color: #ffffff;
}

@media only screen and (max-width: 1220px){
    .topoleft{
        width: 10%;
        padding-left: 50px;
    }
    #logo{
        width: 200px;
    }
    .navmenu{
        width: 600px;
    }
}

@media only screen and (max-width: 900px){
    .menumobile{
        display: block;
        float: right;
        margin: 50px;
    }
    nav{
        display: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px){
    .container{
        display: flex;
    }
    #logo{
        width: 130px;
    }
    .menumobile{
        display: block;
        float: right;
        width: 20px;
        margin: 60px;
    }
    nav{
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 500px){
    .container{
        display: flex;
    }
}

/*Fim do Header*/

/*Começo do Section*/
#banner{
    background-image:url('../images/grupo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 657px;
}
.column{
    display: flex;
    flex-direction: column;
}
.textbanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.textbanner h1{
    position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textbanner p{
    position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 17px;
}
.buttonbanner button{
    display: flex;
    color: #ffffff;
    position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}